# packages in environment at /Users/ouzama/anaconda3/envs/virtual_workspace:
#
# Name                    Version                   Build  Channel


pymongo                   4.6.3           py311h313beb8_0  
python                    3.11.0          h3ba56d0_1_cpython    conda-forge
requests                  2.31.0          py311hca03da5_1  
scrapy                    2.11.1          py311h267d04e_2    conda-forge
urllib3                   2.1.0           py311hca03da5_1  
